<mat-toolbar class="mat-elevation-z8" >
  <button mat-icon-button  (click)="sidenav.toggle()" style="color: rgb(236, 232, 232);">
    <mat-icon *ngIf="!sidenav.opened">
      menu
    </mat-icon>
    <mat-icon *ngIf="sidenav.opened">
      close
    </mat-icon>
  </button>
  CASH Sistema de Administração Financeira
  <span class="head-menu"></span>
  <div class="row">
    <button mat-button>
      <mat-icon>logout</mat-icon> Saida
    </button>
  </div>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8" >

    <!-- <h4 class="name">{{userActive.firstName + " " + userActive.lastName}}</h4> -->
    <p class="designation">Software Engineer</p>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" (click)="cartao()">
      <span>Cartão</span>
    </button>
    <button mat-button class="menu-button" (click)="compra()">
      <span>Compras</span>
    </button>
    <button mat-button class="menu-button">
      <span>Faturas</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button">
      <span>About</span>
    </button>

  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">

      <router-outlet></router-outlet>

    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
