mat-toolbar {
  background: #004a9f;
  color: white;
}

mat-sidenav {
 margin: 16px;
 width: 200px;
 border-right: none;
 background: #002b5c;
 color: white;
 border-radius: 10px;
 padding: 16px;
 text-align: center;
}

.content {
  height: calc(100vh - 98px);
  justify-content: center;
}

.menu-button {
 width: 100%;
 display: flex;
 align-items: center;
 justify-content: flex-start;
 font-size: 1rem;

 mat-icon {
     margin-right: 8px;
 }
}

mat-divider {
 margin-top: 16px;
 margin-bottom: 16px;
 background-color: rgba(255, 255, 255, 0.5);
}

.head-menu {
  flex: 1 1 auto;
}

.container {
  width: 100vw;
  height: 100vh;
  background: #6C7A89;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  }
